* {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Poppins', sans-serif;
  color: #222222;
}

#root {
  text-align: center;
}

#hero {
  border-top: 18px groove #ff006e;
  border-bottom: 14px ridge #3a86ff;
  border-radius: 0 0 22% 0;
  padding: 1.9em 1.8em 2em;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0.6em;
  color: #222222;
}

h1 span {
  color: #222222;
  text-decoration: underline 0.14em #3A86FF;
  text-underline-offset: 4%;
}

h2 {
  font-size: 1.2rem;
  color: #ff006e;
}

#counter {
  position: sticky;
  top: 5vw;
  background: #FFBE0B;
  margin: 2.5em auto 1em;
  box-shadow: 0 0 20px 2px hsl(0, 20%, 82%);
  padding: 1em;
  border-radius: 50px;
  width: calc(90vw - 4em);
  max-width: 480px;
  font-size: 1.2em;
  font-weight: 600;
}

#locations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

ol li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 2em;
  max-width: 90vw;
}

img {
  margin: auto;
  border-radius: 10%;
  max-width: 20em;
}

h3 {
  margin: 1em auto;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
}

button:active {
  border: 2px ridge white;
}

#buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.list-button {
  border: 2px ridge gray;
  border-radius: 10px;
  width: 47%;
  padding: 0.2em 0.4em;
  background: #FFBE0B;
  font-size: 1rem;
  font-weight: 500;
}

.green-button {
  background: #0BFF44;
}

.back-to-top-button {
  position: fixed;
  bottom: -50px;
  left: 0;
  right: 0;
  transition: 1s;
  margin: auto;
  border: none;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 20px 2px hsl(0, 20%, 82%);
  background: #ff006e;
  height: 3.5em;
  width: 9em;
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}

.visible-button {
  bottom: 0;
}